@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

.uwu{
  background-image: url("https://cdn.discordapp.com/attachments/971812281597964369/1032638746228703283/mc.png");
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar{
  width: 0px;
  background: transparent;
  display: -webkit-box;
  border-radius: 1em;
}



body {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  background: url("https://cdn.discordapp.com/attachments/1065220804452827156/1065220921641676830/Def.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
